.sidebarItem:hover{
-fx-border-color:#ffa435;
-fx-border-width: 0px 0px 0px 5px;
}

.button{
-fx-background-color:#ffa435;
}

.split-pane-divider {
  -fx-padding: 1 ;
  /* -fx-border-color: transparent #1d1d1d transparent #1d1d1d;*/
  -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.text-input {
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-Prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
}
.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: #ffa435;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-Prompt-text-fill: transparent;
}

